@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .tdstrong{
    font-weight:500;
    color: rgb(107 114 128 )
  }
}
